시리즈와 데이터프레임 직접 만들기(51p)

1. 시리즈 만들기

In [1]:
import pandas as pd 
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [4]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [6]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

3. 데이터 프레임 만들기

In [9]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist','Staticstician'],
    'Born': ['1920-07-25', '1876-16-13'],
    'Died': ['1958--4=16', '1936-10-16'],
    'Age': [37,61]    
})
print(scientists)

                Name     Occupation        Born        Died  Age
0  Rosaline Franklin        Chemist  1920-07-25  1958--4=16   37
1     William Gosset  Staticstician  1876-16-13  1936-10-16   61

In [12]:
# 방법1
scientists = pd.DataFrame(
    data = {'Occupation': ['Chemist','Staticstician'],
        'Born': ['1920-07-25', '1876-16-13'],
        'Died': ['1958--4=16', '1936-10-16'],
        'Age': [37,61]},
    index =  ['Rosaline Franklin', 'William Gosset'],
    columns = ['Ocuupation', 'Born', 'Died', 'Age'])
print(scientists)

                  Ocuupation        Born        Died  Age
Rosaline Franklin        NaN  1920-07-25  1958--4=16   37
William Gosset           NaN  1876-16-13  1936-10-16   61

In [20]:
# 방법 2
from collections import OrderedDict 

scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist','Staticstician']),
    ('Born', ['1920-07-25', '1876-16-13']),
    ('Died', ['1958--4=16', '1936-10-16']),
    ( 'Age', [37,61])
])
)   
print(scientists)

                Name     Occupation        Born        Died  Age
0  Rosaline Franklin        Chemist  1920-07-25  1958--4=16   37
1     William Gosset  Staticstician  1876-16-13  1936-10-16   61

데이터프레임에서 시리즈 선택하기 (54p)

In [21]:
scientists = pd.DataFrame(
    data = {'Occupation': ['Chemist','Staticstician'],
        'Born': ['1920-07-25', '1876-16-13'],
        'Died': ['1958--4=16', '1936-10-16'],
        'Age': [37,61]},
    index =  ['Rosaline Franklin', 'William Gosset'],
    columns = ['Ocuupation', 'Born', 'Died', 'Age'])

In [24]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [25]:
print(first_row)

Ocuupation           NaN
Born          1876-16-13
Died          1936-10-16
Age                   61
Name: William Gosset, dtype: object

index, values 속성과 keys 메서드 사용하기 (55p)

1. index 속성 사용하기

In [27]:
print(first_row.index)

Index(['Ocuupation', 'Born', 'Died', 'Age'], dtype='object')

2. values 속성 사용하기

In [28]:
print(first_row.values)

[nan '1876-16-13' '1936-10-16' 61]

3. keys 메서드 사용하기

In [31]:
print(first_row.keys())

Index(['Ocuupation', 'Born', 'Died', 'Age'], dtype='object')

4. index 속성 응용하기

In [32]:
print(first_row.index[0])

Ocuupation

5. keys 메서드와 index 속성 응용하기

In [33]:
print(first_row.keys()[0])

Ocuupation

시리즈의 mean, min, max, std 메서드 사용하기 (56p)

In [34]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [35]:
print(ages.mean())

49.0

In [36]:
print(ages.min())

37

In [37]:
print(ages.max())

61

In [38]:
print(ages.std())

16.97056274847714

시리즈와 불린 추출 사용하기 (59p)

In [41]:
scientists = pd.read_csv('./data/scientists.csv')
# scientists.head()

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

In [40]:
ages = scientists['Age']

print(ages.max())

90

In [42]:
print(ages.mean())

59.125

In [43]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [44]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [45]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

In [46]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

벡터와 스칼라로 브로드캐스팅 수행하기 (61p)

In [47]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [48]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [49]:
print(ages *2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [52]:
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

In [53]:
print(ages + pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [54]:
rev_ages = ages.sort_index(ascending=False)
rev_ages

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [55]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [56]:
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [58]:
# print(ages)
# print(rev_ages)
# => 벡터와 벡터의 연산은 일치하는 인덱스끼리 수행한다 *

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

불린 추출과 브로드캐스팅 (65p)

In [63]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [66]:
# scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [65]:
print(scientists.loc[[True, True, False, True]])
# ???????????왜안돼;

IndexError: Item wrong length 4 instead of 8.

In [67]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

시리즈와 데이터프레임의 데이터 처리하기 (67p)

In [68]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [71]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d') 
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [72]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [73]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(born_datetime, died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns] 0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [77]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

5. 시리즈, 데이터프레임의 데이터 섞기

In [78]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [80]:
import random 

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    77
1    90
2    37
3    61
4    41
5    45
6    66
7    56
Name: Age, dtype: int64

7. 데이터프레임의 열 삭제하기

In [81]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [82]:
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped)

                   Name        Born        Died          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16             Chemist
1        William Gosset  1876-06-13  1937-10-16        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13               Nurse
3           Marie Curie  1867-11-07  1934-07-04             Chemist
4         Rachel Carson  1907-05-27  1964-04-14           Biologist
5             John Snow  1813-03-15  1858-06-16           Physician
6           Alan Turing  1912-06-23  1954-06-07  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

데이터를 피클, CSV, TSV 파일로 저장하고 불러오기 (72p)

1. 피클로 저장하기

In [83]:
names = scientists['Name']

In [84]:
names.to_pickle('./output/scientists_names_series.pickle')

In [86]:
scientists.to_pickle('./output/scientists_df.pickle')

In [87]:
scientists_names_from_pickle = pd.read_pickle('./output/scientists_names_series.pickle')
print(scientists_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [88]:
scientists_from_pickle = pd.read_pickle('./output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   77             Chemist
1        William Gosset  1876-06-13  1937-10-16   90        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   61             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   41           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   56       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

4. CSV 파일과 TSV 파일로 저장하기

In [89]:
names.to_csv('./output/scientists_names_series.csv')

C:\Users\jiyoon\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [99]:
scientists.to_csv('./output/scientists_df.tsv', sep='\t')
pd.read_csv('./output/scientists_df.tsv')

  \tName\tBorn\tDied\tAge\tOccupation\tborn_dt\tdied_dt\tage_days_dt
0  0\tRosaline Franklin\t1920-07-25\t1958-04-16\t...
1  1\tWilliam Gosset\t1876-06-13\t1937-10-16\t90\...
2  2\tFlorence Nightingale\t1820-05-12\t1910-08-1...
3  3\tMarie Curie\t1867-11-07\t1934-07-04\t61\tCh...
4  4\tRachel Carson\t1907-05-27\t1964-04-14\t41\t...
5  5\tJohn Snow\t1813-03-15\t1858-06-16\t45\tPhys...
6  6\tAlan Turing\t1912-06-23\t1954-06-07\t66\tCo...
7  7\tJohann Gauss\t1777-04-30\t1855-02-23\t56\tM...

In [101]:
scientists

,Name,Born,Died,Age,Occupation,born_dt,died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,77,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,90,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,37,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,61,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,41,Biologist,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,66,Computer Scientist,1912-06-23,1954-06-07,15324 days
7,Johann Gauss,1777-04-30,1855-02-23,56,Mathematician,1777-04-30,1855-02-23,28422 days

In [103]:
scientists.to_csv('./output/scientists_no_index.csv', index=False)
pd.read_csv('./output/scientists_no_index.csv')

,Name,Born,Died,Age,Occupation,born_dt,died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,77,Chemist,1920-07-25,1958-04-16,13779 days 00:00:00.000000000
1,William Gosset,1876-06-13,1937-10-16,90,Statistician,1876-06-13,1937-10-16,22404 days 00:00:00.000000000
2,Florence Nightingale,1820-05-12,1910-08-13,37,Nurse,1820-05-12,1910-08-13,32964 days 00:00:00.000000000
3,Marie Curie,1867-11-07,1934-07-04,61,Chemist,1867-11-07,1934-07-04,24345 days 00:00:00.000000000
4,Rachel Carson,1907-05-27,1964-04-14,41,Biologist,1907-05-27,1964-04-14,20777 days 00:00:00.000000000
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16,16529 days 00:00:00.000000000
6,Alan Turing,1912-06-23,1954-06-07,66,Computer Scientist,1912-06-23,1954-06-07,15324 days 00:00:00.000000000
7,Johann Gauss,1777-04-30,1855-02-23,56,Mathematician,1777-04-30,1855-02-23,28422 days 00:00:00.000000000

In [97]:
names_df = names.to_frame()

import xlwt
names_df.to_excel('./output/scientists_names_series_df.xls')

import openpyxl
names_df.to_excel('./output/scientists_names_series_df.xlsx')

# xls, xlsx 는 버전 차이 (2007년 전후)