In [15]:
import numpy as np
import pandas as pd

In [16]:
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [17]:
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import StandardScaler 
from sklearn.utils import shuffle

In [18]:
from sklearn.linear_model import LogisticRegression 
from sklearn.linear_model import Perceptron 
from sklearn import svm 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.naive_bayes import GaussianNB 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics 
from sklearn.metrics import confusion_matrix 
from sklearn.ensemble import VotingClassifier 
from sklearn.ensemble import AdaBoostClassifier 
from sklearn.neural_network import MLPClassifier 

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_validate

from sklearn.model_selection import GridSearchCV 

from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process

In [19]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab 
import seaborn as sns 
# from pandas.tools.plotting import scatter_matrix

In [20]:
train_df = pd.read_csv('./data/train.csv')
test_df = pd.read_csv('./data/test.csv')
data_df = train_df.append(test_df)

In [28]:
data_df['Title'] = data_df['Name']
for name_string in data_df['Name'] : 
    data_df['Title'] = data_df['Name'].str.extract('([A-Za-z]+)\.', expand=True)
    
mapping = {'Mile':'Miss', 'Major':'Mr', 'Col':'Mr', 'Sir':'Mr', 'Don':'Mr', 'Mme':'Miss',
          'Jonkheer':'Mr', 'Lady':'Mrs', 'Capt':'Mr', 'Countess':'Mrs', 'Ms':'Miss', 'Dona':'Mrs'}
data_df.replace({'Title':mapping}, inplace=True)
titles = ['Dr', 'Master', 'Miss', 'Mr', 'Mrs', 'Rev']

for title in titles :
    age_to_impute = data_df.groupby('Title')['Age'].median()[titles.index(title)]
    data_df.loc[(data_df['Age'].isnull()) & (data_df['Title'] == title), 'Age'] = age_to_impute

In [29]:
train_df['Age'] = data_df['Age'][:891]
test_df['Age'] = data_df['Age'][891:]

In [30]:
data_df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Title
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,Mr
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,Mrs
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,Miss
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,Mrs
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,Mr

In [31]:
data_df.drop('Title', axis=1, inplace=True)

In [32]:
data_df['Family_Size'] = data_df['Parch'] + data_df['SibSp']

In [ ]:
train_df['Family_Size'] = data=df['Family_Size'][:891]
test_df['Family_Size'] = data=df['Family_Size'][891:]